# < programs >
bin
obj
src/ptrace-gen

# < Build system tmp files >
.build.tmp

# < generated dirs >
src/gen

# < Misc >
res/aplusb.out

# < editors >
*~
src/*~
*.swp
src/*.swp

# < kernel building system sucks >
src/module/*
!src/module/Makefile
!src/module/sandboxer-core.h
!src/module/sandboxer-core.c
!src/module/sandboxer-proc.h
!src/module/sandboxer-core.c
!src/module/hashmap.h