# < programs >
bin
obj
src/ptrace-gen

# < Build system tmp files >
.build.tmp

# < generated dirs >
src/gen

# < Misc >
res/aplusb.out

# < editors >
*~
src/*~
*.swp
src/*.swp

# < kernel building system sucks >
src/module/*
!src/module/Makefile
!src/module/core.c
!src/module/init.h
!src/module/init.c
!src/module/slot.h
!src/module/slot.c
!src/module/proc.h
!src/module/proc.c
!src/module/splay.h
!src/module/splay.c
!src/module/probes.h
!src/module/probes.c
!src/module/mentor.h
!src/module/mentor.c
!src/module/hashmap.h
!src/module/hashmap.c
